main {
    display: grid;
    grid-template-columns: 140px 140px 140px;
    justify-content: center;
}

h2{
    color: mintcream;
}

app-square {
    height: 140px;
    width: 140px;        
}

#main-title{
    margin: auto;
    width:fit-content;
    color:mintcream
}

#restart{
    width: 160px;
    height: 40px;
    color: #ffffff;
    font-size: medium;
    background-color: chocolate;
}

.winner{
    color: indianred;
}

.current-player{
    color:lightyellow
}