main {
    display: grid;
    grid-template-columns: 160px 160px 160px;
    justify-content: center;
}

app-square {
    height: 160px;
    width: 160px;        
}

#main-title{
    margin: auto;
    width:fit-content;
}

#restart{
    width: 160px;
    height: 40px;
    color: #ffffff;
    font-size: medium;
    background-color: chocolate;
}

