<div>
    <h1 id="main-title">Welcome to TIC TAC TOE</h1>
</div>
<div>
    <h2 >
        the current player: 
        <span class="current-player">
            {{player}} 
        </span>
    </h2>   
    <h2 >
        winner:
        <span class="winner" *ngIf="winner">
            {{winner}}
        </span>
    </h2>
</div>

<div>
    <button id="restart" (click)="newGame()">start new game!</button>
</div>

<div>
    <main>
        <app-square *ngFor="let square of squares; let i = index" [value]="square" [ngClass]="{'player-x':square == 'X','player-o':square== 'O'}" (click)="makeMove(i)">
    
        </app-square>
    </main>
</div>
