main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}

app-square {
    border: 1px gray solid;
    height: 200px;        
}

#main-title{
    position: relative;
    left: 40%;
}

#restart{
    width: 160px;
    height: 40px;
    color: #ffffff;
    font-size: medium;
    background-color: chocolate;
}

.main-area{
    padding-top: 100px;
}